h1 {
  color: #ffffff;
  white-space: nowrap;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.0rem;
  margin-left: 10mm;
}

.main_head {
  font-size: 2.8rem;
  margin-left: 10mm;
  font-family: Arial, Helvetica, sans-serif;
}

.main_head2 {

  font-size: 2.8rem;
  margin-left: 10mm;
  margin-right: 10mm;
  font-family: Arial, Helvetica, sans-serif;

}

p {
  font-size: 6mm;
  margin-left: 10mm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe_p {
  font-size: 5mm;
  margin-left: 10mm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #f8f2dd;
}

.main_logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 2.5rem;
  padding-left: 10mm;
}

nav {
  background-color: #8d231c;
  top: 0;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation_bar {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  color: #ffffff;
  font-size: 4mm;
  text-decoration: none;
  padding-left: 6mm;
  padding-right: 6mm;
  line-height: 25px;
  white-space: nowrap;

}

span {
  color: #ffffff;
  padding-left: 5mm;
  padding-right: 5mm;
}

.rec_search {
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.search input[type=text] {
  display: flex;
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 10mm;
}

.main_section {
  display: grid;
  padding: 2rem;
  gap: 2rem;
}

.banner_img {
  flex: 1;
  width: 100%;
  border-radius: 8px;
  width: 33%;
  padding-left: 235mm;
}

/*Add Recipe Input and Selector Boxes*/
label {
  margin-left: 10mm;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 500px;
  margin-left: 10mm;
  margin-bottom: 3mm;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  width: 500px;
  margin-left: 10mm;
  margin-bottom: 3mm;
  font-family: Arial, Helvetica, sans-serif;

}

textarea::placeholder {
  text-align: left;
}

.ing {
  height: 60px;
  flex-wrap: wrap;
}

.inst {
  height: 100px;
  flex-wrap: wrap;
}

select {
  width: 70mm;
  margin-left: 10mm;
  margin-bottom: 6mm;
  font-family: Arial, Helvetica, sans-serif;
}

.submit_recipe {
  margin-left: 10mm;
}

button {
  border-radius: 10mm;
  size: 30px;
  color: #ffffff;
  background-color: #8d231c;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 10px 32px;
  font-size: 1.2rem;
}

.up_image {
  border-radius: 10mm;
  size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 10px 10px;
  font-size: .9rem;
}