h1 {
  color: #ffffff;
  white-space: nowrap;
}

body {
  background-color: #f8f2dd;
}

.main_logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.9rem;
}

nav {
  background-color: #8d231c;
  padding: .4em;
  top: 0;
  display: flex;
  align-items: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation_bar {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  color: #ffffff;
  font-size: 4.2mm;
  text-decoration: none;
  padding-left: 15mm;
  padding-right: 15mm;
  line-height: 25px;
}

span {
  color: #ffffff;
  padding-left: 5mm;
  padding-right: 5mm;
}

.search input[type=text] {
  display: flex;
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 10mm;
}