h1 {
  color: #ffffff;
  white-space: nowrap;
}

.main_head {
  font-size: 2.8rem;
  padding-left: 20mm;
  font-family: Arial, Helvetica, sans-serif;
}

.main_head2 {

  font-size: 2.8rem;
  padding-left: 20mm;
  font-family: Arial, Helvetica, sans-serif;

}

p {
  font-size: 6mm;
  padding-left: 20mm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #f8f2dd;
}

.main_logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 2.5rem;
  padding-left: 10mm;
}

nav {
  background-color: #8d231c;
  top: 0;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation_bar {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  color: #ffffff;
  font-size: 4mm;
  text-decoration: none;
  padding-left: 6mm;
  padding-right: 6mm;
  line-height: 25px;
  white-space: nowrap;

}

span {
  color: #ffffff;
  padding-left: 5mm;
  padding-right: 5mm;
}

.search input[type=text] {
  display: flex;
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 10mm;
}

.main_section {
  display: grid;
  padding: 2rem;
  gap: 2rem;
}

.banner_img {
  flex: 1;
  width: 100%;
  border-radius: 8px;
  width: 33%;
  padding-left: 235mm;
}